// Here you can add other styles

@import url('https://fonts.cdnfonts.com/css/sofia-sans');

* {
  font-family: 'Sofia Sans', sans-serif;
}

.MyDataTableEvent .rdt_TableHead {
  font-size: 0.9em;
}
.MyDataTableEvent .rdt_TableBody .rdt_TableRow {
  font-size: 0.9em;
}

.container {
  max-width: 960px;
}

.sidebar {
  background-color: #14365f !important;
}

.sidebar .active {
  background-color:#2464b3 !important;

}

.btn-primary{
  background-color:#2464b3 !important;
  border-color: #2464b3;

}

