.chip-pending {
    background-color: #ffcc25 !important;
    border-color: #b38a048a;
    color: #161616;
    font-weight: 500;
}
.chip-pending:hover {
    background-color: #ffc812;
    border-color: #271e0080;
    color: #412500;
    font-weight: 600;
}

.chip-completed {
    background-color: #23c403 !important;
    border-color: #2db3048a;
    color: #161616;
    font-weight: 500;
}
.chip-completed:hover {
    background-color: #55d102;
    border-color: #271e0080;
    color: #412500;
    font-weight: 600;
}